.App {
  text-align: center;
  height:100vh;
  background-image: linear-gradient(0deg, #F6C36A, 	#F6C36A);
  background-clip: padding-box;
  width: 100wh;
}

.app-main-components {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 5px;
  background-color: #efefef;
  color: #333;
  min-height: 100%;
  border-right: #333 solid 1px;
  border-left: #333 solid 1px;
  box-shadow: 5px 0 10px #333;
  margin-top: 3rem;
}

.section-header .accordion-button {
  font-weight: bold !important;
  font-size: 1.2rem !important;
  padding: 5px !important;
  background-color: #dc3545 !important;
  color: white !important;
  border-bottom: 2px solid #000 !important;
  width: 100% !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.section-header .accordion-header {
  width: 100% !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.sheet-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.form-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.document-header{
  font-weight: bold;
  font-size: 1.2rem;
  padding: 3px;
  background-color: #5DC7EC;
  border-bottom: 2px solid #000;
}