.App {
  text-align: center;
  height:100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  height:100%;
}

.App-link {
  color: #61dafb;
}


.card{
  border: 1px solid black;
}

.menu-card{
  height:100%;
}