.App {
  text-align: center;
  height:100vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  background-image: linear-gradient(0deg, #F6C36A, 	#F6C36A);
  background-clip: padding-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  max-height: 96vh;
  width: 96vw;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  color: black;
  height:100%;
}

.App-link {
  color: #61dafb;
}

.app-name{
  color: purple;
  font-weight: bold;
  margin-bottom: 1rem;
}

.section-title{
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.form-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.card-header{
  font-weight: bold;
  background-color: #ffe499 !important;
}

.menu-card{
  width:30vw;
  height:100%;
  border-width: 0 !important;
  border-radius: 15px;
}

.document-card{
  width: 80%;
  height: 100%;
  margin-bottom: 0;
  border-width: 0 !important;
}