

.button-number {
  background-color: white;
  border: 1px solid #000000;
  color: black;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  width: 80px;
  height: 60px;
}

.button-operator {
  background-color: white;
  border: 1px solid #512426;
  color: black;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  width: 80px;
  height: 60px;
}

.button-edit-end {
  background-color: white;
  border: 1px solid #707070;
  color: #ffffff;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  width: 80px;
  height: 60px;
}

.button-edit-start {
  background-color: white;
  border: 1px solid #707070;
  color: #707070;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  width: 80px;
  height: 60px;
}

.button-control {
  background-color: white;
  border: 1px solid #000000;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;

  width: 80px;
  height: 60px;
}
