.sheet-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sheet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}